/*classe para ajustar cor de texto e cor de fundo*/
h1 {
  color: var(--cor3);
  text-align: center;
}

h2 {
  color: var(--cor2)
}
h3 {
  color: var(--cor1);
  text-align: center;
}
/*classe para cor de fundo*/
body {
  background-color: slategray
}

:root {
  --cor1: yellow;
  --cor2: black;
  --cor3: red;
  --cor4: green;
}
/*Classe para derrubar as imagens*/
#div {
  display: inline-block;
}

/*Classe para ajustar imagem index*/
.img_figura {
  max-width: 20em;
  padding: 3em;
  width: auto;
  height: auto;
}
.img_figura1 {
  max-width: 20em;
  padding: 3em;
  width: auto;
  height: auto;
}
.img_figura2 {
  max-width: 30em;
  padding: 3em;
  width: auto;
  height: auto;
}
.img_figura3 {
  max-width: 27em;
  padding: 3em;
  width: auto;
  height: auto;
}
.img_figura4 {
  max-width: 20em;
  padding: 3em;
  width: auto;
  height: auto;
}
.img_figura5 {
  max-width: 27em;
  padding: 3em;
  width: auto;
  height: auto;
}
/*Classe para ajustar imagem detalhes*/
.img_misto {
  max-width: 210px;
  width: auto;
  height: auto;
}
.img_suco {
  max-width: 150px;
  width: auto;
  height: auto;
}

.img_água {
  max-width: 150px;
  width: auto;
  height: auto;
}
/*Classe para ajustar item4
.img_frase {
  max-width: 50%;
  width: auto;
  height: auto;
  inset-block: center;
}
/*Classe para ajustar item4*/


/*Classe para ajustar desenvolvido*/
.desenvolvido_texto {
  text-align: center;
  color:  yellow;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding:1em;
  margin: auto;
}

/*classe para ajustar as paginas*/
ul.nav {
  margin: 0;
  padding: 0;
}
nav{
  position: fixed;
}
/*classe ajuste de texto*/
.texto1 {
  color: rgba(245, 25, 10, 0.904);
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: center;
  padding: 0, 70em;
  margin: 0;
}

.texto2 {
  color: rgba(245, 25, 10, 0.904);
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: center;
  padding: 0, 70em;
  margin: auto;
}

.texto3 {
  color: rgba(100, 107, 94, 0.747);
  font-family: Verdana;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 0, 70em;
  margin: auto;
}

.texto4 {
  color: rgba(27, 114, 19, 0.822);
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 0,90em;
  margin: auto;
}

/*classe para ajustar paginas*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

em strong {
  color: rgb(158, 0, 0)
}
/*
.item4{
  text-align: center;
}
.item2{
  text-align: center;
}

.item1{
  grid-area: item1;
}
.item2{
  grid-area: item2;
}
.item3{
  grid-area: item3;
}
.item4{
  grid-area: item4;
}
.item5{
  grid-area: item4;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'item1 item2 item3'
    'item4 item4 item4';
  gap: 30px;
  padding: 3em 10em 4rem 10em;
  text-align: center;
}
*/
#Titulo_site {
  text-align: center;
}
#Horário_funcionamento {
  text-align: center;
}
#Titulo_Usuários {
  text-align: center;
}
.header_1{
  position:center;
  text-align: center;
}
nav{
  position:center;
}
a:link, a:visited {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}

.grid-coluna {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
  gap: 5%;
}
.item{
  max-width: 350px;
  justify-content: center;
}
.center{
  text-align: center;
}

/* classe para ajustar tabela*/
table {
  width: 50%;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.481);
  margin: auto;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
  color: yellow;
  text-align: center;
}

table th {
  background-color: rgba(0, 0, 0, 0.481);
  text-align: center;
}

table td button {
  padding: 5px 10px;
  background-color: red;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  text-align: center;
}

table td button:last-child {
  margin-right: 0;
  text-align: center;
}